apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-fastapi-app
  labels:
    app: my-fastapi-app
spec:
  replicas: 1  # 원하는 복제본 수
  selector:
    matchLabels:
      app: my-fastapi-app
  template:
    metadata:
      labels:
        app: my-fastapi-app
    spec:
      containers:
        - name: my-fastapi-app
          image: howon/fastapi-new2:a5920305c5a3b320dd306c462b80b8fa5b247e7c
          imagePullPolicy: Always
          ports:
            - containerPort: 8000  # 애플리케이션의 포트
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: my-fastapi-secrets
                  key: OPENAI_API_KEY
            - name: LANGCHAIN_API_KEY
              valueFrom:
                secretKeyRef:
                  name: my-fastapi-secrets
                  key: LANGCHAIN_API_KEY
            - name: LANGCHAIN_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: my-fastapi-secrets
                  key: LANGCHAIN_ENDPOINT
            - name: LANGSMITH_PROJECT
              valueFrom:
                secretKeyRef:
                  name: my-fastapi-secrets
                  key: LANGSMITH_PROJECT

