name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: howon/fastapi-new:latest

      - name: Deploy to Kt cloud
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.KtCloudIp }}  # KT Cloud EC2 인스턴스의 IP 주소 또는 도메인
          username: root  # KT Cloud EC2 인스턴스의 사용자 이름
          key: ${{ secrets.k8spem }}  # KT Cloud EC2 인스턴스의 개인 키 (SSH 키)
          script: |
            cd /data/ums/back-end  # 파일 경로로 이동
            kubectl apply -f deploy.yaml
